/*Global Styles*/
body {
	background-image: url(img/pattern-background-desktop.svg);
	background-size: auto;
	background-repeat: repeat-x;
	background-position: top;
	background-color: var(--light-blue);
	color: var(--med-blue);
}

/*Font Styles*/
h1 {
	font-size: 1.7rem;
	color: var(--dark-blue);
	font-weight: 900;
	padding-top: 20px;
}

.planText {
	font-weight: 900;
	color: var(--dark-blue);
}

.order-summary__content-container p {
	padding: 20px 30px;
}


/*Container Styles*/
.order-summary {
	min-height: calc(100vh - 41px);
	display: flex;
	align-items: center;
	justify-content: center;
}

.order-summary__holder {
	max-width: 450px;
	width: calc(100% - 50px);
	background-color: var(--white);
	border-radius: 10px;
	margin: 0 auto;	
}

.order-summary__content-container {
	max-width: 400px;
	padding: 25px;
	margin: 0 auto;
	text-align: center;
}

.annual-plan__holder {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: var(--pale-blue);
	border-radius: 10px;
	padding: 20px;
}

.annual-plan__prices {
	display: flex;
	flex-direction: column;
}

/*Button Styles*/
.button a {
	display: inline-block;
	width: 100%;
}

.button__blue a {
	padding: 15px;
	background-color: var(--bright-blue);
	border-radius: 10px;
	font-weight: 700;
	color: var(--pale-blue);
}

.button__blue {
	box-shadow: -1px 15px 15px 3px #3829e038;
	margin-top: 30px;
	border-radius: 10px;
}

.button__blue:hover a {
	background-color: rgba(56, 41, 224, 0.61);
}

.annual-plan__button {
	margin-left: auto;
}

.annual-plan__button a {
	text-decoration: underline;
	color: var(--bright-blue);
	font-weight: 700;
	font-size: 0.9rem;
}

.annual-plan__button:hover a {
	color: rgba(56, 41, 224, 0.61);
	text-decoration: none;
}

.button__faded {
	padding: 30px 0px;
}

.button__faded a {
	font-weight: 700;
}

.button__faded:hover a {
	color: var(--dark-blue);
}


/*Order Summary Styles*/
.order-summary__image-container img {
	display: block;
	width: 100%;
	overflow: hidden;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.annual-plan__icon img {
	border-radius: 25px;
	background-color: var(--light-blue);
	margin-right: 20px;
}


/*Attribution Styles*/
.attribution {
	text-align: center;
	padding: 10px;
}



/*Media Queries*/
@media screen and (max-width: 375px) {
	body {
		background-image: url(img/pattern-background-mobile);
	}
	
	h1 {
		font-size: 1.5rem;
	}

	p, a {
		font-size: 0.8rem;
	}
}
