/*Global Styles*/
body {
	background-image: url(img/pattern-background-mobile.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--light-blue);
	color: var(--med-blue);
}

.pad {
	padding-top: 15px;
	padding-bottom: 15px;
}

/*Font Styles*/
h1 {
	font-size: 1.5rem;
	color: var(--dark-blue);
	font-weight: 900;
}

.planText {
	font-weight: 900;
	color: var(--dark-blue);
}


/*Container Styles*/
.order-summary {
	min-height: calc(100vh - 41px);
}

.order-summary__holder {
	max-width: 500px;
	width: calc(100% - 50px);
	background-color: var(--white);
	border-radius: 10px;
	margin: 0 auto;	
}

.order-summary__content-container {
	max-width: 450px;
	padding: 15px;
	margin: 0 auto;
	text-align: center;
}

.annual-plan__holder {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: var(--pale-blue);
	border-radius: 10px;
	padding: 15px;
}

.annual-plan__prices {
	display: flex;
	flex-direction: column;
}

/*Button Styles*/
.button a {
	display: inline-block;
	width: 100%;
}

.button__blue a {
	padding: 15px;
	background-color: var(--bright-blue);
	border-radius: 10px;
	font-weight: 700;
	color: var(--pale-blue);
}

.button__blue {
	box-shadow: -1px 23px 15px 5px #DDDFE6;
	padding-top: 15px;
}

.annual-plan__button a {
	text-decoration: underline;
	color: var(--bright-blue);
	font-weight: 700;
}


/*Order Summary Styles*/
.order-summary__image-container img {
	display: block;
	width: 100%;
	overflow: hidden;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.annual-plan__icon img {
	border-radius: 25px;
	background-color: var(--light-blue);
}


/*Attribution Styles*/
.attribution {
	text-align: center;
	padding: 10px;
}



/*Media Queries*/
@media screen and (max-width: 375px) {

}
